In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/calebreed/Documents/GitHub/DATA-4950-Capstone/DATA-4950-Capstone/data/external/salaries_clean.csv')
# drop unneccessary variables
df = df.drop(["index","salary_id","location_latitude","location_longitude","comments","submitted_at"],axis=1)
# job_title_rank, location_state, and location_country have too many missing values so they will be dropped
df = df.drop(['job_title_rank','location_state','location_country'],axis=1)
# drops employer experience years
df = df.drop("employer_experience_years",axis=1)
# fill experience missing values with the mean
df.loc[:, "total_experience_years"] = df.loc[:, "total_experience_years"].fillna(df["total_experience_years"].mean())
df.loc[:, "employer_name"] = df.loc[:, "employer_name"].fillna("Unknown")
df.loc[:, "annual_base_pay"] = df.loc[:, "annual_base_pay"].fillna(df["annual_base_pay"].mean())
df.loc[:, "signing_bonus"] = df.loc[:, "signing_bonus"].fillna(df["signing_bonus"].mean())
df.loc[:, "annual_bonus"] = df.loc[:, "annual_bonus"].fillna(df["annual_bonus"].mean())
# stock bonus is a string so will be dropping it
df = df.drop("stock_value_bonus",axis=1)
df.head()

,employer_name,location_name,job_title,job_title_category,total_experience_years,annual_base_pay,signing_bonus,annual_bonus
0,opower,"san francisco, ca",systems engineer,Engineering,13.0,125000.0,5000.000000,0.0
1,walmart,"bentonville, ar",senior developer,Software,15.0,65000.0,22405.626877,5000.0
2,vertical knowledge,"cleveland, oh",software engineer,Software,4.0,86000.0,5000.000000,6000.0
3,netapp,waltham,mts,Other,4.0,105000.0,5000.000000,8500.0
4,apple,cupertino,software engineer,Software,4.0,110000.0,5000.000000,7000.0